.App {
  text-align: center;
  /* background-image: url('./assets/background.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  height: 100vh;
  width: 100vw;
}

.button {
  color: #69f0ae;
}
.top-block {
  height: 79px;
}
.the-container {
  margin: 0px;
  width: 100vw;
}
