.header-userinfo-container {
  background-color: #212529;
  width: 200px;
  height: 35px;
  border-radius: 20px;
  margin-left: auto;
  margin-right: 0px;
}

.header-dashboard {
  display: flex;
  width: 100%;
  /* border: 1px solid red; */
  margin-top: 10px;
  padding: 0px 20px 0px 20px;
}

.header-history-button {
  margin-right: 15px;
}
