/* #36474F */

body{
  background-color: #36474F ;
}

.dashboard-header{
  color: rgb(231, 231, 231);
  font-size: 30px;
  margin-top: 60px;
  margin-bottom: 60px;

}

.search-bar{
  width: 600px;
  height: 50px;
  margin-bottom: 60px;
}

.dashboard-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.divider{
  height: 0px;
  width: 90vw;
  margin-top: -500px;
  color: white;
  border: 1px solid rgb(235, 235, 235);
}

.divider1{
  height: 10px;
  width: 700px;
  /* margin-top: -500px; */
  color: white;
  border: 1px solid red;
}

.dashboard-recommendation{
  margin-top:60px;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 1000px;
}

.recommendation-header{

}