.sidebar-container {
  height: 100vh;
  width: 220px;
  background-color: #212529;
  border-radius: 0px 40px 0px 0px;
}

.sidebar-logo {
  width: 200px;
  margin-top: 20px;
  margin-left: -30px;
  margin-bottom: -30px;
}

.section-buttons {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  border: 1px solid blue;
}

.wantlist-button {
  /* border: 1px solid blue; */
}
.home-button {
  /* border: 1px solid pink; */
}
.favourite-button {
  /* border: 1px solid green; */
}

.side-button {
  display: flex;
  align-content: center;
  margin: 10px;
  height: 45px;
  border-radius: 5px;
  border: 1px solid green;
  color: white;
  text-align: left;
  cursor: pointer;
  color: #6c6c6c;
  transition: 0.3s;
}

.side-button:hover {
  /* color: white; */
  background-color: #3e4f58;
}

.side-button:active {
  /* color: #69F0AE; */
  opacity: 0.6;
}

.textt {
  /* border: solid 1px red; */
  margin-top: 10px;
  margin-left: 10px;
  display: flex;
}

.icon {
  margin-right: 15px;
  margin-bottom: 10px;
}
